node_modules

# Next.js / build output
.next
.turbo
out
dist

# Env files
.env*
.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
.idea
.vscode/